@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Application // This is the model that was passed from the controller
<h2>@Model.Title recived, thank you.</h2>
