@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .center-content {
        text-align: center; /* Centers the inline content */
    }

    .inline-paragraph {
        display: inline-block; /* Use inline-block for layout control */
        margin-right: 20px; /* Adds space between the elements */
    }
</style>
<h1 style="text-align: center;">This is the Get to Know Joel Page.</h1>

<div class="center-content">
    
    <p class="inline-paragraph">Learn about <a href="https://www.qwcomedy.com/">Wits Comedy</a>.</p>
    <p class="inline-paragraph">Learn about <a href="https://baconsale.com/">Baconsale</a>.</p>
</div>

<div class="center-content">
	<a href="https://baconsale.com/">
        <img src="~/img/group.jpg" alt="Group Image" height="400" />
        
    </a>
</div>
